@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
}

body{
    
  
    background-size: cover;
    background-color: black;
}

.swiper-slide {

   
   -webkit-box-reflect: below -40px linear-gradient(transparent,transparent, #0004);

}
